@import "variables";
@import "common";


/* body */

body{
    width:100%;
    height:100vh;
    background: $tertiary
}

/* title */

h1{
    color: $white;
    margin-top: 3rem;
    font-size: 2.5rem;
}

/* header nav */

.header-nav{
    background-color: $white;
    padding: 1rem;
    font-size: 1.5rem;
    margin-top: 2rem;
    border-top: 5px solid $primary;
    grid-area:header-nav;
}

/* title */

.title{
    background: $white;
    padding: 1rem;
    border-top: 5px solid $primary;
}

.title-1{
    grid-area: title-1;
}

.title-2{
    img{
        height: 10rem;
        width: 10rem;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
    }
    grid-area: title-2
}

.title-3{
    grid-area: title-3;
}

.title-4{
    img{
        height: 10rem;
        width: 10rem;
    }
    grid-area:title-4;
}